.skeleton{
    background: linear-gradient(110deg, #ededed 18%, #f3f3f3 25%, #ededed 33%);
    border-radius: 24px;
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
}

@keyframes shine {
    to {
      background-position-x: -200%;
    }
}